.container {
  width: 900px;
  margin: 0 auto;
  padding: 64px;
}
.container h1 {
  font-size: 36px;
}

.container p {
  font-size: 22px;
  font-weight: lighter;
}

.container h2 {
  text-align: center;
}
